PORT=9000
# ganache-cli -p 7545 -m "lemon consider  wild fat farm  bundle laundry side one stereo"
ETH_CLIENT_URL="http://127.0.0.1:7545"
PRIVATE_KEY=""
SMART_CONTRACT_ADDRESS="0xF036e5fE5a1310D1f08196288eDBf3EC1Ff638A8"




MONGODB_USERNAME="root"
MONGODB_PASSWORD="iloveblockchain"

MONGODB_ENDPOINT="127.0.0.1:27017"
export GIN_MODE=release
SECRET_KEY="piajain"
ACCESS_SECRET="piajain"
REFRESH_SECRET="nivjain"
REDIS_HOST=127.0.0.1:6379
REDIS_PASSWORD=""
RABBIT_URL= "amqp://guest:guest@localhost:5672/"
# RABBIT_URL= "amqp://guest:guest@rabbitmq.aipo-imda.net"


#MONGODB_ENDPOINT="localhost:27017"
#REDIS_PASSWORD="$ILOVELUFTHANSA"

#RABBIT_URL= "http://rabbit.dsldemo.site"
#RABBIT_URL= "amqp://rabbit.dsldemo.site"
#RABBIT_URL= "amqp://18.140.84.228:5672" //works
#RABBIT_URL= "amqp://guest:guest@18.140.84.228:5672" 
#RABBIT_URL = "amqp://jain:jain@18.140.220.74:5672//german"